*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  height: 100%;
  position: relative;
  line-height: 1.4;
  font-weight: 400;
  overflow-x: hidden;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul li,
ol li {
  list-style: none;
  display: block;
  margin: 0;
}

span {
  display: inline-block;
}

ul, ol {
  display: block;
  margin: 0;
  padding-left: 0;
}

button {
  outline: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.site-wrap {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stories-cirle-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}
.stories-cirle-wrapper::-webkit-scrollbar {
  width: 0;
}
.stories-cirle-wrapper__circle {
  width: 90px;
  margin: 0 5px;
  flex: none;
  text-align: center;
  cursor: pointer;
}
.stories-cirle-wrapper__circle:first-child {
  margin-left: 0;
}
.stories-cirle-wrapper__circle:last-child {
  margin-right: 0;
}
.stories-cirle-wrapper__picture {
  border: 2px solid #bd3381;
  border-radius: 50%;
  padding: 3px;
  transition: border-color 0.3s;
}
.stories-cirle-wrapper__picture:hover {
  border-color: #C8B3A3;
}
.stories-cirle-wrapper__picture img {
  border-radius: 50%;
}
.stories-cirle-wrapper__title {
  font-size: 13px;
  color: #000;
  text-transform: capitalize;
}

.wrapper {
  padding: 70px 0;
}

.slider {
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
}

.sound {
  padding: 10px;
}

.stories-slider-none {
  display: none;
}

.swiper-slide {
  transition: transform 0.4s ease;
}
.swiper-slide:not(.swiper-slide-active) {
  transform: scale(0.8, 0.8) !important;
}

.player {
  margin: 50px auto 0 auto;
}
.player-wrapper {
  position: relative;
}
.player-wrapper::before {
  content: "";
  background: #000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.player-wrapper__muted {
  position: relative;
  color: #fff;
  background: transparent;
  font-weight: 600;
}
.player-wrapper__on-muted {
  display: none;
}
.player-wrapper__timeline-wrp {
  display: flex;
  align-content: center;
  height: 3px;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 999;
  right: 5px;
}
.player-wrapper__timeline {
  background-color: hsla(0deg, 0%, 100%, 0.2);
  height: 100%;
  border-radius: 2px;
  flex: 1;
  margin-left: 3px;
}
.player-wrapper__timeline:first-child {
  margin-left: 0;
}
.player-wrapper__process {
  background: #c80adf;
  height: 100%;
  width: 0;
}
.player-wrapper__story-info {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  font-size: 14px;
  color: #fff;
}
.player-wrapper__story-info-picture {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin: 0 10px;
}
.player-wrapper__story-info-title {
  font-weight: 600;
  margin-right: 5px;
}
.player-wrapper__prev {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 50%;
  z-index: 9;
}
.player-wrapper__next {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 50%;
  z-index: 9;
}
.player-wrapper__chunk {
  display: none;
}
.player-wrapper__chunk-video {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.player-wrapper__chunk-active {
  display: block;
}
.player-wrapper__chunk-goods {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.player-wrapper__chunk-goods-text span {
  position: relative;
}
.player-wrapper__chunk-goods-text span::before {
  content: "";
  position: absolute;
  left: -13px;
  top: 50%;
  display: inline-block;
  border-bottom: 2px solid;
  border-left: 2px solid;
  width: 6px;
  height: 6px;
  transform: rotate(135deg) translateY(17%);
}
.player-wrapper__timeline-active {
  background: #fff;
  width: 0;
}
.player-wrapper__chunk-goods-wrp-image {
  max-width: 50%;
  margin: auto;
}
.player-wrapper__chunk-goods-wrp {
  display: flex;
}
.player-wrapper__chunk-goods-wrp-item {
  color: #000;
  margin-top: -90px;
}
.player-wrapper__chunk-goods-wrp-prices {
  font-size: 20px;
  font-weight: 600;
}

.show-goods {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  top: 50%;
  z-index: 3;
  background-color: #fff;
  height: 100%;
  z-index: 3;
}

.chunk-goods-text-show {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: none;
}

.player-wrapper__timeline-active ~ .player-wrapper__timeline > .player-wrapper__process {
  width: 0;
}

.timeline-chunk-active > .player-wrapper__process, .timeline-chunk-active ~ .player-wrapper__timeline > .player-wrapper__process {
  width: 0;
}

.sound_muted {
  padding: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 10;
  cursor: pointer;
}

.stories-modal__mute-label {
  position: absolute;
  white-space: nowrap;
  top: 49%;
  transform: translateY(-50%);
  left: 30px;
}

.close_strories {
  padding: 20px;
  background: transparent;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 10;
  cursor: pointer;
}

.stories-goods {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.stories-text-under-video {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.stories-text-under-video:hover {
  color: orange;
}
.stories-text-under-video__hide {
  display: none;
}
.change_on-muted {
  display: block;
}

.change_off-muted {
  display: none;
}

@-webkit-keyframes TimelineLoader {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes TimelineLoader {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.swiper-slide {
  transition: transform 0.4s ease;
}
.swiper-slide:not(.swiper-slide-active) {
  transform: scale(0.8, 0.8) !important;
}

.ddd {
  display: block;
}

.poma {
  color: red;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .animated {
    /*CSS transitions*/
    transition-property: none !important;
    /*CSS transforms*/
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}/*# sourceMappingURL=main.css.map */
